<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{RecipeParams.Title}}</title>
  <link rel="stylesheet" type="text/css" href="css/recipe.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
</head>
<body>
  <!-- Заголовок -->
  <header class="header">
    <h1>{{RecipeParams.Title}}</h1>
  </header>

      <nav class="navigation">
        <ul class="navigation-list">
            <li><a href="/">Главная</a></li>
            <li><a href="/inputpage">Добавить рецепт</a></li>
        </ul>
    </nav>

  

  <!-- Основное содержимое -->
  <main class="container">
    <!-- Информация о рецепте -->
    <article class="BaseInfo">
      <!-- Изображение -->
      <section class="recipe-image-section">
      {{#if RecipeParams.IMG}}
        <img src="{{RecipeParams.IMG}}" class="recipe-header-image" alt="{{RecipeParams.Title}}">
      {{/if}}
      </section>

      <p></p>

      <!-- Энергетическая ценность -->
      {{#if RecipeParams.EnergyValue}}
      <div class="nutrition">
        <h2>Энергетическая ценность:</h2>
        <ul>
          {{#each RecipeParams.EnergyValue}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </article>

    <p></p>

      <!-- Ингредиенты -->
      {{#if RecipeParams.Ingredients}}
      <div class="ingredients">
        <h2>Ингредиенты:</h2>
        <ul>
          {{#each RecipeParams.Ingredients}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

      <p></p>


    <!-- Описание и шаги приготовления -->
    {{#if RecipeParams.Description}}
    <section class="description steps">
      <h2>Описание:</h2>
      {{RecipeParams.Description}}
    </section>
    {{/if}}

    <p></p>

    {{#if RecipeParams.Sequence}}
    <section class="steps-list steps">
      <h2>Шаги приготовления:</h2>
      {{#each RecipeParams.Sequence}}
      <p>{{this}}</p>
      {{/each}}
    </section>
    {{/if}}

  </main>

  <!-- Подвал -->
  <footer class="footer">
    &copy; 2025 Рецепты для здоровья.
  </footer>

</body>
</html>
