<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книга рецептов</title>
    <link rel="stylesheet" type="text/css" href="css/recipe.css">
</head>
<body>
       <div class="header">
            <a href="/">
                <img src="home-icon.png" alt="Главная" width="30" height="30"> <!-- Значок "Домой" -->
            </a>
            <span>Кулинарные рецепты</span>
        <div>
            <a href="profile.html">
                <img src="user-icon.png" alt="Профиль">
            </a>
        </div>
    </div>
    
    <div class="container">
        <!-- Боковое меню с поиском и категориями -->
        <div class="sidebar">
            <div class="search">
                <label for="search">Поиск</label>
                <input type="text" id="search">
            </div>
            <div class="categories">
                <label for="categories">Категории</label>
                <ul>
                {{#each WebPagesArray}}
                    <li><a href={{this}}>{{this}}</a></li>
                {{/each}}
                </ul>
            </div>
        </div>
        <!-- Основное содержание страницы рецепта -->
        <div class="content">
            <div class="recipe">
                <!-- Название блюда -->
                <div class = "BaseInfo">
                    <div class = "title">
                        <h1 id = "TitleInput">{{RecipeParams.Title}}</h1>
                    </div>
                    <div class="subscribe">
                        <!-- Контактная информация автора -->
                        <span class="author">{{RecipeParams.Author}}</span>
                        <!-- Кнопка подписаться -->
                        <button>Подписаться</button>
                    </div>
                </div>
                
                <!-- Блок изображения или видео, подключить src и в него добавить параметр {{RecipeParams.IMG}} -->
                <div class="image">
                    <img src={{RecipeParams.IMG}}>
                </div>
                
                <!-- Блок энергетической ценности, нужен цикл -->
                <div class="nutrition">
                    <h2>Энергетическая ценность</h2>
                    <ul id = "NutritionListInput">
                        {{#each RecipeParams.EnergyValue}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                
                <!-- Блок ингредиентов, нужен цикл -->
                <div class="ingredients">
                    <h2>Ингредиенты</h2>
                    <ul id = "IngredientsListInput">
                        {{#each RecipeParams.Ingredients}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                
                <!-- Описание рецепта -->
                <div class="description">
                    <h2>Описание</h2>
                    {{RecipeParams.Desctiption}}
                </div>
                
                <!-- Последовательность действий, нужен цикл -->
                <div class="steps" id = "StepsInput">
                    <h2>Последовательность</h2>
                    {{#each RecipeParams.Sequence}}
                        <li>{{this}}</li>
                        <p></p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{{body}}}
</body>
</html>